@import "tailwindcss";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  font-family: "Round", sans-serif;
  background-color: black;
  overscroll-behavior: none;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer components {
  main {
    @apply w-dvw overflow-x-hidden;
  }
  nav {
    @apply fixed top-0 left-0 w-full flex justify-between items-center md:p-16 p-5 z-[100];
  }
}
